.content {
  /*
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  */
  max-width: 1200px; 
  margin: 0 auto;   
  padding: 2rem;
  color: var(--text);
  opacity: 0.8;
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
}

.text-center {
  text-align: center;
}

.main-content {
  h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}
.word-highlight {
  color: var(--htext);
}