

.container-profile {
  display: flex;

}

.profile {
  width: 300px;
  max-height: 100vh;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  color: var(--text);
  box-shadow: 0 8px 48px rgba(0,0,0,0.12);
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--cbac);
  background-image: url("./public/imgs/nnnoise.png");
  opacity: 0.8;
}

.profileimg {
  width: 960px; max-width: 80%;
  height: auto;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  border-radius: 5%;
  object-fit: cover;
  margin-bottom: 16px;
  background:#000000;
}

.profile-bio {
    text-align: center;
    font-size: 1rem;
    font-weight: 1000;
    color: var(--htext);
}

.profile-socials {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
    
}

a {
    color: var(--link);
    text-decoration: none;
}

button {
    background-color: var(--btn);
    color: var(--text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}